<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ECommerce1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServ</display-name>
    <servlet-name>HomeServ</servlet-name>
    <servlet-class>com.hcl.servlet.HomeServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServ</servlet-name>
    <url-pattern>/HomeServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServ</display-name>
    <servlet-name>RegisterServ</servlet-name>
    <servlet-class>com.hcl.servlet.RegisterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServ</servlet-name>
    <url-pattern>/RegisterServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.hcl.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>com.hcl.servlet.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCategory</display-name>
    <servlet-name>RemoveCategory</servlet-name>
    <servlet-class>com.hcl.servlet.RemoveCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCategory</servlet-name>
    <url-pattern>/RemoveCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServ</display-name>
    <servlet-name>AdminServ</servlet-name>
    <servlet-class>com.hcl.servlet.AdminServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServ</servlet-name>
    <url-pattern>/AdminServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCategory</display-name>
    <servlet-name>ShowCategory</servlet-name>
    <servlet-class>com.hcl.servlet.ShowCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCategory</servlet-name>
    <url-pattern>/ShowCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategory</display-name>
    <servlet-name>EditCategory</servlet-name>
    <servlet-class>com.hcl.servlet.EditCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategory</servlet-name>
    <url-pattern>/EditCategory</url-pattern>
  </servlet-mapping>
</web-app>